@import "tailwindcss";

.theme-diskord {
  color: white;
  background-color: rgb(66, 68, 75);
}

.theme-1 {
  color: white;
  background-image: linear-gradient(
    to top right,
    #ad46ff,
    #3b82f6 30%,
    #ec4899
  );
}

/* these only work on chromium browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(
    in oklab,
    var(--color-white) /* #fff = #ffffff */ 25%,
    transparent
  );
}

::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(
    in oklab,
    var(--color-white) /* #fff = #ffffff */ 50%,
    transparent
  );
}
