@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: Inter;
}

.theme-diskord {
  color: white;
  background-color: rgb(66, 68, 75);
}

.theme-1 {
  color: white;
  background-image: linear-gradient(
    to top right,
    #ad46ff,
    #3b82f6 30%,
    #ec4899
  );
}

.border-color {
  border-color: color-mix(in oklab, var(--color-white) 5%, transparent);
}

button {
  cursor: pointer;
}

/* these only work on chromium browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(
    in oklab,
    var(--color-white) /* #fff = #ffffff */ 25%,
    transparent
  );
}

::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(
    in oklab,
    var(--color-white) /* #fff = #ffffff */ 50%,
    transparent
  );
}

@layer utilities {
  .scrollbar-hover {
    @apply [scrollbar-width:none];
    @apply hover:[scrollbar-width:auto];
  }
}
